-- Add phoneNumbers and ownerPhoneIndex to PreForeclosure table
ALTER TABLE "foreclosed" ADD COLUMN IF NOT EXISTS "phoneNumbers" TEXT[] DEFAULT ARRAY[]::TEXT[];
ALTER TABLE "foreclosed" ADD COLUMN IF NOT EXISTS "ownerPhoneIndex" INTEGER;
